.content {
    background-color: #e4d3bc;
    margin: 2vb;
}
.content__recipe__card {
    display: flex;
    flex-wrap: row;
}

.content-title {
    text-align: center;
    font-weight: 800;
    color: #ec6c03;
    font-family: 'Cinzel Decorative', cursive;
    line-height: 3;
    font-size: 5rem;
}
.recipe__title {
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: #83491a;
}
.card__recipe {
    border: 3px solid #230c0f;
    margin: 3%;
    padding: 1%;
    background-image: url("./images/crêpes.jpeg");
    background-size: cover;
    background-position: center;
    width: 49vw;


    
}
.ingredient__title {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 3;
    color: #83491a;
}

.ingredient__list {
    padding: 3px;
    margin: 3px;
    width: 98%;
    color: #354234;
    font-weight: bold;
    font-size: 1em;
}

.preparation__title {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 3;
    color: #83491a;
}
.preparation__text {
    padding: 3px;
    margin: 3px;
    width: 98%;
    color: #354234;
    font-weight: bold;
    font-size: 1em;
}

.crepe {
    background-image: url("./images/crêpes.jpeg");
    background-size: cover;
    background-position: center;
}

.pancake {
    background-image: url("./images/pancakes.jpg");
    background-size: cover;
    background-position: center;
}